/* Big Screens */
#compliments {
  padding: 7%;
  color: #002e20;
  background: #9cecfb;
  background: radial-gradient(circle, #9cecfb, #65c7f7);
  background: rgb(210, 251, 208);
  background: linear-gradient(
    145deg,
    rgba(210, 251, 208, 1) 25%,
    rgba(240, 251, 208, 1) 50%,
    rgba(210, 251, 208, 1) 75%
  );
}

#compliments h1 {
  line-height: 1.5;
  font-family: "Great vibes", cursive;
}

#compliments h5 {
  font-family: "Roboto Slab", serif;
}

/* Tablet Wide Screens */
@media (max-width: 992px) {
}

/* New Mobile Phones Wide Screens */
@media (max-width: 428px) {
  #compliments {
    padding: 7% 10%;
  }
  #compliments h1 {
    font-size: 1.5rem;
  }
  #compliments h5 {
    margin-bottom: 4px;
    font-size: 0.75rem;
  }
}

/* Old Mobile Phones Wide Screens */
@media (max-width: 360px) {
}
